body {
    background-color: rgb(237, 248, 255);
    border-spacing: 0;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Georgia, Serif;
    min-width: 1366px;
}

img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.mainTable {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    font-size: 11pt;
}

.menuTable {
    width: 100%;
    border-spacing: 0;
    font-size: 11pt;
}

.formTable {
    border-spacing: 0;
    font-size: 11pt;
}

.formTable td {
    line-height: 18pt;
/*    width: 0%;*/
    padding: 8px 5px 0px 0px;
}

a {
    text-decoration: none;
    color: black;
}

ul a {
    font-weight: bold;
}

ul {
    font-size: 12pt;
    padding: 5px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}


ul ul ul a {
    font-size: 10pt;
}

ul ul a {
    font-size: 11pt;
}

.head {
    height: 15%;
    text-align: right;
    vertical-align: bottom;
    padding: 0px 5px 1px 0px;
    background-image: url(img/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(168, 221, 255);
}

.line {
    height: 1px;
    background-color: blue;
}

.reklama {
    padding: 0px 0px 0px 0px;
    height: 4%;
    background-color: rgb(198, 233, 255);
    text-align: center;
}

.copyright {
    background-color: rgb(4, 0, 176);
    height: 4%;
    text-align: center;
    color: white;

}

.content {
    /*    height: 85%;*/
    width: 52%;
    background-color: rgb(237, 248, 255);
    vertical-align: top;
    padding: 0px 0px 0px 0px;

}

.news {
/*    width: 20%;*/
    vertical-align: top;
    padding: 10px 0px 0px 5px;
    font-size: 14pt;
    font-weight: bold;
    /*    letter-spacing: 2px;*/
}

.news table {
    padding: 20px 0px 0px 0px;
}

.news table td {
    vertical-align: top;
}

.menu {
    width: 19%;
    background-image: url(img/image6.jpg);
    vertical-align: top;
}

.menuPanel {
    height: 30%;
    vertical-align: top;
    padding: 10px 0px 15px 0px;
}

.formTableButton input {
    width: 80px;
    border: 1px solid rgb(212,208,200);
    background-color: rgb(198, 233, 255);
}

.formTableButton button {
    width: 60px;
    border: 1px solid rgb(212,208,200);
    margin: 2px 0px 0px 0px;
    background-color: rgb(198, 233, 255);
}

.formTableText {
    vertical-align: top;
    text-align: right;
    font-size: 12px;
}
