@import"../../css/reset.css";

#my-menu > li ul {display: none;}
#my-menu > li > a {cursor: pointer;}
#my-menu li {padding-left: 0; list-style-type: none; font-size:18px;}

body {
    color: black;
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, san-serif;
    font-size: 11pt;
    border:none;
}

img {
    border: none;
}

form {
    margin: 0;
    padding: 0;
}

table {
    border: 0px;
}

    table td {
        vertical-align: top;
        font-size: inherit;
    }

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:active {
    color: #364dda;
    text-decoration: none;
}

.globaltable {
    border-color: #FFFFFF;
    border-width: thin;
}

.menutd {
    background: url(../images/tyres_005.jpg) repeat-y;
}

.mainmenu {
    font-size: 16px;
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.mainmenuin1 {
    font-size: 14px;
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
}

.mainmenuin2 {
    font-size: 12px;
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
}

.mainmenu li {

    padding-top: 2px;
    margin-top: 2px;
}

.newsmenu {
    font-size: 14px;
    list-style-image: url(../images/arrow1.jpg);
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
    font-weight: bold;
}

    .newsmenu li {
        margin-bottom: 5px;
    }

    .newsmenu .date {
        font-weight: normal;
    }

.bottomline {
    font-weight: bold;
    color: #fff;
}

.tabledarkline {
    background: #b3c2cb;
}

.formf1 {
    background-color: #cdebff;
    border-style: solid;
    border-width: 1px;
}

.formf2 {
    background-color: #cdebff;
    border-style: none;
    border-width: 0px;
}

h4 {
    font-size: 16px;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #0e4aa6;
    line-height: 50px;
}

    #header a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        display: block;
        margin: 0 10px;
        border-right: 1px solid #33497A;
        width: 150px;
    }

        #header a:hover {
            color: #cccccc;
        }

#content {
    width: 900px;
    margin: 0 auto;
    padding: 0px 0;
}

#textt {

    font-size: 16px;
    font-family:"Times New Roman";
    width: 71%;
}
